.header {
  height: 100vh;
  
  
  background: linear-gradient(rgba(0, 0, 0, .7) , rgba(0, 0, 0, .8)), url("assets/images/header-bg.jpeg") fixed no-repeat center /cover;
  clip-path: polygon(0 0, 100% 0, 100% 90%, 0 100%);

  &__banner-heading {
    &::first-letter {
      font-family: 'Great Vibes', cursive;
      font-size: 10rem;
      margin-right: 20px;
    }

    & img {
      animation: beating 3s infinite;

    }
  }

}


@keyframes beating {
  0% {
      transform: scale(1);
  }

  50% {
      transform: scale(1.05);
  }

  100% {
      transform: scale(1);
  }
}